<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
  integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

<div class="tab-panel">
  <ul [class.stretch-tabs]="stretchTabs === true" [class.only-addbtn]="tabs.length === 0">
    <li *ngFor="let tab of tabs" [hidden]="tab.closed === true" (click)="selectTab(tab)" [class.disabled]="tab.disabled" [class.active]="tab.active" title="{{tab.title}}">
      <div class="title-wrapper" [class.empty-title-closebtn]="tab.icon === '' && tab.closeable === true" [class.icon-title-empty]="tab.icon !== '' && tab.closeable === false" [class.empty-title-empty]="tab.icon === '' && tab.closeable === false">
        <i [hidden]="tab.icon === ''" class="{{tab.icon}}"></i>
        <span>{{tab.title}}</span>
        <i *ngIf="tab.closeable === true" class="close-btn fas fa-times" (click)="$event.stopPropagation(); closeTab(tab)"></i>
      </div>  
    </li>

    <li *ngIf="showAddTabButton === true" (click)="addDynamicTab()" class="addTabButton">
      <i class="fas fa-plus"></i>
    </li>
  </ul>
</div>


<ng-content></ng-content>
<ng-template appDynamicTab></ng-template>
