* {
  font-family: quicksand, open sans, roboto, open sans, nunito, sans-serif;
}

.example {
  display: block;
  display: block;
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
}
