<app-cc-tabView>
    <app-cc-tabPanel [title]="'Tab 1'">Tab1</app-cc-tabPanel>
    <app-cc-tabPanel [title]="'Tab 2 sdfdfsfs sdfsfsdfsf sdfdsfsdfsfsf'">Tab2</app-cc-tabPanel>
    <app-cc-tabPanel [title]="'Tab 3'">
        <ng-template>
            <input type="text">
            <textarea></textarea>
        </ng-template>
    </app-cc-tabPanel>
    <app-cc-tabPanel [title]="'Tab 4'">
        <ng-template>
            <input type="text" placeholder="Hello">
            <button>Click me</button>
        </ng-template>
    </app-cc-tabPanel>
</app-cc-tabView>